AuthName "ATENEA ERP"
AuthUserFile /home/siteat/.htpasswds/.htpasswd
AuthType basic
Require valid-user


<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>